@page "/"
@using blazor_universal_prototype.Shared.Services
@using blazor_universal_prototype.Shared.ViewModels
@inject HomeViewModel ViewModel
@inject INavigationService NavigationService

<PageTitle>Postfach</PageTitle>

<FluentStack Orientation="Orientation.Vertical">

    <h1>Postfach</h1>

    <FluentCard Style="background-color:lightgray; border-color: lightgray">
        <FluentStack HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="20" >
            <FluentIcon Value="@(new Icons.Regular.Size24.Info())"/>
            <FluentBodyContent>
                Über Ihr Postfach können Sie Ihre Dokumente mit wenigen Klicks verschlüsselt mit uns austauschen.
                Das System wird Ihr Anliegen automatisch an die richtige Stelle weiterleiten.
            </FluentBodyContent>
        </FluentStack>
    </FluentCard>

    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Top">
        @if(ViewModel.Mails.Count == 0)
        {
            <FluentProgressRing />
        } 
        else
        {
            @foreach (var mail in ViewModel.Mails)
            {
                <FluentCard @onclick="() => NavigationService.SelectMail(mail.Id)">
                    <FluentStack HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="20">
                        <FluentIcon Value="@(new Icons.Regular.Size24.FolderMail())" />
                        <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center" VerticalGap="0">
                            <FluentBodyContent>Aktenfall: @mail.Subject</FluentBodyContent>
                            <FluentBodyContent>@mail.Date.ToShortDateString()</FluentBodyContent>
                        </FluentStack>
                        <FluentIcon Value="@(new Icons.Regular.Size24.ChevronRight())" />
                    </FluentStack>
                </FluentCard>
            }
        }
    </FluentStack>
</FluentStack>
    
<div style="position: fixed; bottom: 1.5rem; right: 1.5rem; z-index: 1000;">
    <FluentButton Style="width: 74px; height: 74px; border-radius: 50%;" Appearance="Appearance.Accent" @onclick="NavigationService.SelectSendMail">
        <FluentIcon Style="stroke: white; width: 50px; height: 50px;" Value="@(new Icons.Regular.Size24.Add())" />
    </FluentButton>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadMailsCommand.ExecuteAsync(null);
    }
}