@page "/maildetail/{id:int}"
@inject blazor_universal_prototype.Shared.ViewModels.MailDetailViewModel ViewModel

<PageTitle>Details</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <h1>Details</h1>
    @if (ViewModel.IsLoading)
    {
        <FluentProgressRing />
    } 
    else
    {
        <FluentCard Style="background-color:lightgray; border-color: lightgray">
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
                    <FluentBodyContent Style="font-weight:600">Thema / Bereich</FluentBodyContent>
                    <FluentBodyContent>@ViewModel.Mail.Area</FluentBodyContent>
                </FluentStack>
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
                    <FluentBodyContent Style="font-weight:600">Datum</FluentBodyContent>
                    <FluentBodyContent>@ViewModel.Mail.Date.ToShortDateString()</FluentBodyContent>
                </FluentStack>
            </FluentStack>
        </FluentCard>

        <h1>Dokumente (@ViewModel.NumberOfAttachments)</h1>

        <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Top">
 
                @foreach (var attachment in ViewModel.Attachments)
                {
                    <FluentCard>
                        <FluentStack HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="20">
                            <FluentIcon Value="@(new Icons.Regular.Size24.DocumentPdf())" />
                            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center" VerticalGap="0">
                                <FluentBodyContent>@attachment.FileName</FluentBodyContent>
                                <FluentBodyContent>@attachment.Size</FluentBodyContent>
                            </FluentStack>
                            <FluentIcon Value="@(new Icons.Regular.Size24.ChevronRight())" />
                        </FluentStack>
                    </FluentCard>
                }
            
        </FluentStack>
    }
</FluentStack>

@code {
    [Parameter]
    public int id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await ViewModel.LoadMailDetailsCommand.ExecuteAsync(id);
    }
}
