@page "/send"
@inject blazor_universal_prototype.Shared.ViewModels.SendViewModel ViewModel

<PageTitle>Nachricht versenden</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="26" >
    <h1>Nachricht versenden</h1>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
        <FluentBodyContent>Aktenfall vom @DateTime.UtcNow.ToFileTime()</FluentBodyContent>
        <FluentBodyContent>Aktenzeichen: 202503248081</FluentBodyContent>
    </FluentStack>
    <div class="responsive-select">
        <FluentSelect Items="@ViewModel.Categories" Style="width:100%">
        </FluentSelect>
    </div>
    <FluentTextArea Style="width:100%"></FluentTextArea>
    <h3>Anhänge</h3>
    @if(ViewModel.Attachments.Count == 0)
    {
        <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Top" HorizontalAlignment="HorizontalAlignment.Center" VerticalGap="0">
            <FluentIcon Style="width:52px; height:52px;" Value="@(new Icons.Regular.Size24.FolderArrowUp())" />
            <FluentBodyContent Style="text-align:center">Keine Daten vorhanden</FluentBodyContent>
            <FluentBodyContent Style="text-align:center">Sobald Sie ein neues Dokument hinzufügen, wird es hier angezeigt</FluentBodyContent>
        </FluentStack>
    }
    else
    {
        @foreach (var attachment in ViewModel.Attachments)
        {
            <FluentCard>
                <FluentStack HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="20">
                    <FluentIcon Value="@(new Icons.Regular.Size24.DocumentPdf())" />
                    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Left" VerticalAlignment="@VerticalAlignment.Center" VerticalGap="0">
                        <FluentBodyContent>@attachment.FileName</FluentBodyContent>
                        <FluentBodyContent>@attachment.Size</FluentBodyContent>
                    </FluentStack>
                    <FluentIcon  Value="@(new Icons.Regular.Size24.Dismiss())" />
                </FluentStack>
            </FluentCard>
        }
    }
</FluentStack>

@if (!OperatingSystem.IsBrowser())
{ }
<div style="position: fixed; bottom: 1.5rem; right: 1.5rem; z-index: 1000;">
    <FluentButton Style="width: 74px; height: 74px; border-radius: 50%;" Appearance="Appearance.Accent">
        <FluentIcon Style="stroke: white; width: 50px; height: 50px;" Value="@(new Icons.Regular.Size24.Add())" />
    </FluentButton>
</div>

@code {

}
